<section class="row">
    <div class="page-header">
        <h1>Обратная связь</h1>
    </div>
    <div style="margin: 0 auto 20px" class="col-md-6">
        <form name="callback_form" class="callback-form" action="" method="post">
            <p id="alert" style="font-style: italic; display: none; color: #aa0000">text</p>
            <input class="form-control" name="name" type="text" placeholder="Ваше имя" required><br>
            <input class="form-control" name="email" type="email" placeholder="Ваш email" required><br>
            <textarea class="form-control" name="message" placeholder="Ваше сообщение" required></textarea><br>
            <input onclick="return validate_callback()" class="btn btn-lg btn-success btn-block" type="submit" value="Отправить">
        </form>
    </div>
    <div style="margin: 0 auto 20px" class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325515.68165385624!2d30.252503543248558!3d50.402136750196206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsINCj0LrRgNCw0LjQvdCwLCAwMjAwMA!5e0!3m2!1sru!2sru!4v1463714165051" frameborder="0" style="border:0; width: 100%; height: 100%; min-height: 250px; max-width: 600px; max-height: 450px" allowfullscreen></iframe>
    </div>
</section>