<section class="row">
    <div class="container">
        <div class="page-headline">
            <h1>Авторизация</h1>
            <h2>Введите логин и пароль</h2>
        </div>
        <div class="form-block">
            <form action="" method="post">
                <input class="inputs" type="text" name="login" placeholder="Введите логин">
                <input class="inputs" type="password" name="password" placeholder="Ввеби е пароль">
                <input class="button orange-button" type="submit" value="Войти">
            </form>
        </div>
    </div>
</section>

