<section class="users-edit">
    <div class="container">
        <h1>Редактирование пользователя</h1>
        <h2>Главная информация</h2>
        <form action="" method="post">
            <input type="hidden" value="1" name="save_main_information">
            <p><b>ID: </b><?php echo $data['user']['user_id'] ?><input name="user_id" value="<?php echo $data['user']['user_id'] ?>" type="hidden"></p>
            <p><b>Логин: </b><input type="text" name="login" value="<?php echo $data['user']['login'] ?>"></p>
            <p><b>Тип пользователя: </b><select name="user_type">
                <?php
                    foreach($data['user_types'] as $user_types){
                        ?>
                            <option value="<?php echo $user_types['type_id'] ?>" <?php if($user_types['type_id'] == $data['user']['user_type']) echo "selected" ?>><?php echo $user_types['name'] ?></option>
                        <?php
                    }
                ?>
            </select></p>
            <p><b>Email: </b><input type="email" name="email" value="<?php echo $data['user']['email'] ?>"></p>
            <p><b>Номер телефона: </b><input type="text" name="phone" value="<?php echo $data['user']['phone'] ?>"></p>
            <p><input type="submit" value="Сохранить изменения"></p>
        </form>
        <h2>Изменение пароля</h2>
        <form action="" method="post">
            <input type="hidden" value="1" name="change_password">
            <input name="user_id" value="<?php echo $data['user']['user_id'] ?>" type="hidden">
            <p><b>Введите новый пароль: </b><input type="password" name="new_password"></p>
            <p><b>Повторно введите новый пароль: </b><input type="password" name="new_password_repeated"></p>
            <p><b></b><input type="submit" value="Изменить пароль"></p>
        </form>
    </div>
</section>