<section class="row">
    <div class="container">
        <div class="page-headline">
            <h2>Категории товаров</h2>
        </div>
        <div class="form-block">
            <form action="" method="post">
                <input class="inputs cols-4" type="text" name="name" placeholder="Название категории" required>
                <input class="inputs cols-4" type="text" name="img" placeholder="URL Иконки" required>
                <select class="inputs cols-4" name="parent_id">
                    <option value="0">Нет родителя</option>

                    <?php

                        foreach($data['categories'] as $categories){

                            ?>

                                <option value="<?= $categories['category_id'] ?>"><?= $categories['name'] ?></option>

                            <?php

                        }

                    ?>

                </select>
                <input class="button orange-button cols-4" type="submit" value="Создать">
            </form>
        </div>

        <div class="striped-table">
            <table rules="none">
                <tr class="top-row">
                    <th>ID Категории</th>
                    <th>Изображение</th>
                    <th>Название</th>
                    <th>&nbsp;</th>
                </tr>

                <?php
            $GLOBALS["row"] = 0;
            $GLOBALS["data"] = $data['categories'];
            $id = 0;

            //Рекурсивно выводит древо категорий
            //Принимает id категории и выводит все её подкатегории
            function get_children($id, $nesting){

                //Выводим все подкатегории даной категории
                foreach($GLOBALS["data"] as $categories){

                    if($id == $categories['parent_id']) {
                        $class = $GLOBALS["row"] % 2;
                        $GLOBALS["row"]++;

                        ?>

                <tr class="row-<?= $class ?>">
                    <td><?= $categories['category_id'] ?></td>
                    <td class="nesting-<?= $nesting ?>">

                        <?php if($categories['img'] != "none") { ?>
                        <img src="<?= $categories['img'] ?>" alt="Иконка категории <?= $categories['name'] ?>" />
                        <?php }
                                     else echo "Иконка отсутствует";
                                     ?>

                    </td>
                    <td><?= $categories['name'] ?></td>
                    <td class="right-align">
                        <a class="button transparent-button" href="/administrator/products/categories/delete/<?= $categories['category_id'] ?>" onclick="return confirmDeleteCategory()">Удалить</a>
                    </td>
                </tr>

                <?php

                        //Проверяем, есть ли у даной категории подкатегории
                        $has_children = false;
                        foreach($GLOBALS["data"] as $cat) {
                            if($cat['parent_id'] == $categories['category_id']) {
                                $has_children = true;
                                break;
                            }
                        }
                        if($has_children) get_children($categories['category_id'], $nesting + 1);
                    }
                }
            }

            //Начальный уровень вложенности - нет родителя
            $nesting = 0;
            get_children(0, $nesting);
            ?>

            </table>
        </div>

    </div>
</section>