<section class="row">
    <div class="container">
        <div class="page-headline">
            <h2>Поставщики</h2>
        </div>
        <div class="form-block inline-form">
            <form action="" method="post">
                <input class="inputs" name="provider_name" placeholder="Название поставщика" type="text" required>
                <input class="inputs" name="email" placeholder="Email" type="email">
                <input class="inputs" name="phone" placeholder="Номер телефона" type="text">
                <input class="button orange-button" type="submit" value="Добавить">
            </form>
        </div>
        <table class="striped-table" rules="none">
            <tr class="top-row">
                <th>ID</th>
                <th>Название</th>
                <th>Email</th>
                <th>Номер телефона</th>
                <th>&nbsp;</th>
            </tr>

            <?php
                $k = 0;

                foreach($data['providers'] as $providers) {

                    if($providers['provider_id'] == 1) continue;

                    $class = $k % 2;
                    $k++;

                    ?>

            <tr class="row-<?php echo $class ?>">
                <td><?php echo $providers['provider_id'] ?></td>
                <td><?php echo $providers['name'] ?></td>
                <td><?php echo $providers['email'] ?></td>
                <td><?php echo $providers['phone'] ?></td>
                <td class="right-align"><a class="button transparent-button" onclick="return confirmDeleteProvider()" href="/administrator/products/providers/delete/<?php echo $providers['provider_id'] ?>" class="delete-button">Удалить</a></td>
            </tr>

            <?php

                }
            ?>


        </table>
    </div>
</section>