<section class="row">
    <div class="container">
        <div class="page-headline">
            <h2>Характеристики товаров</h2>
        </div>
        <div class="form-block">
            <form action="" method="post">
                <input class="inputs cols-2" name="feature_name" placeholder="Название характеристики" type="text" required>
                <input class="button orange-button cols-2" type="submit" value="Добавить">
            </form>
        </div>
        <div class="striped-table">
            <table class="striped-table" rules="none">
                <tr class="top-row">
                    <th>ID</th>
                    <th>Название</th>
                    <th>&nbsp;</th>
                </tr>

                <?php
                $k = 0;

                foreach($data['features'] as $features) {

                    $class = $k % 2;
                    $k++;

                    ?>

                <tr class="row-<?php echo $class ?>">
                    <td><?php echo $features['feature_id'] ?></td>
                    <td><?php echo $features['name'] ?></td>
                    <td class="right-align"><a class="button transparent-button" onclick="return confirmDeleteFeature()" href="/administrator/products/features/delete/<?php echo $features['feature_id'] ?>" class="delete-button">Удалить</a></td>
                </tr>

                <?php

                }
            ?>


            </table>
        </div>
    </div>
</section>