/*---------------------------- Breakpoints ---------------------------*/
$iPhone4Rotated: 479px;
$iPad: 760px;
$iPadRotated: 1020px;

/*------------------------------- Fonts --------------------------------*/
@font-face {
  font-family: Ronduit Capitals; /* Ð˜Ð¼Ñ ÑˆÑ€Ð¸Ñ„Ñ‚Ð° */
  src: url(../fonts/RonduitCapitals-Light.otf); /* ÐŸÑƒÑ‚ÑŒ Ðº Ñ„Ð°Ð¹Ð»Ñƒ ÑÐ¾ ÑˆÑ€Ð¸Ñ„Ñ‚Ð¾Ð¼ */
}

/* domain/callback page */
.callback-form {
  max-width: 500px;

  textarea {
    height: 100px;
  }
}

/*======================= CONTROL PANEL STYLES =======================*/
/*------------------------- Colors -----------------------------*/
$darkGrey: #333333;
$brightGrey: #EEEEEE;
$white: #FFFFFF;
$darkOrange: #FF7F00;
$green: #32CD32;
$veryBrightGrey: #f9f9f9;


/*--------------------- For iPhone 4s -----------------------------*/

.row {
  width: 100%;
}

.container {
  min-width: 300px;
  max-width: 1500px;
  margin: 0 auto;
}

/*-------------- Header -----------------------*/
header.administrator {
  background: $brightGrey;
  padding: 25px 0;
  font-family: "Segoe UI";

  .container {
    div {
      text-align: center;
    }

    .headline {
      h1 {
        font-size: 180%;
        margin: 0;
        font-family: Ronduit Capitals;
        font-size: 150%;

        a {
          text-decoration: none;
          color: $darkGrey;
          line-height: 25px;
        }
      }
    }

    .user {

      padding: 10px 0 0;

      p {
        margin: 0;
      }

      .action {

        padding: 20px 0 0;

        a {
          font-size: 90%;
          text-decoration: none;
          color: $white;
          border: 1px solid $darkOrange;
          background: $darkOrange;
          padding: 8px 16px;
          text-transform: uppercase;
          transition: 0.25s ease all;
        }

        a:hover {
          background: $green;
          color: $white;
          border: 1px solid $green;
        }

        a.logout {
          color: $darkOrange;
          background: none;
        }

        a.logout:hover {
          background: $green;
          color: $white;
        }
      }
    }
  }
}

/*--------------------MESSAGE------------------------*/
section.administrator-message {
  background: #1E90FF;

  .container {
    p {
      color: $white;
      text-align: center;
      font-weight: bold;
    }
  }
}

/*---------------- Content ---------------------*/
/*----------------- Main page -------------------*/
section.administrator-actions {
  font-family: "Segoe UI";
  padding-bottom: 80px;

  .container {
    .col {
      text-align: center;
      margin: 0 auto;
      padding-bottom: 15px;

      h2 {
        color: $darkGrey;
        font-size: 150%;
      }

      .tile {
        width: 150px;
        margin: 0 auto;
        position: relative;

        &:hover {
          img {
            opacity: 0.8;
          }
        }

        img {
          width: 150px;
          transition: 0.25s ease all;
        }

        h3 {
          width: 140px;
          text-align: center;

          color: $white;
          margin: 0;

          font-size: 95%;

          font-weight: bold;

          position: absolute;
          left: 5px;
          bottom: 20px;
        }

        h3.one-line {
          padding-bottom: 7px;
        }
      }
    }
  }
}

/*----------------- Products's list -------------------*/
section.administrator-products-list-actions {
  padding: 20px 0;
  background: $veryBrightGrey;

  .container {
    text-align: center;

    a {
      font-size: 90%;
      text-decoration: none;
      color: $white;
      background: $darkOrange;
      border: 1px solid $darkOrange;
      padding: 8px 16px;
      text-transform: uppercase;
      transition: 0.25s ease all;
    }

    a:hover {
      background: $green;
      color: $white;
      border: 1px solid $green;
    }
  }
}
section.administrator-products-list {
  padding-bottom: 80px;

  .container {
    .products {

      h2 {
        color: $darkGrey;
        text-align: center;
      }

      .product {
        padding: 15px 15px 30px 15px;
        background: $veryBrightGrey;
        width: 280px;
        margin: 0 auto;
        margin-bottom: 30px;

        img {
          width: 250px;
          border: 1px solid $brightGrey;
          display: block;
          margin: 0 auto;
        }

        .description {
          p {
            color: $darkGrey;
          }
        }

        .product-actions {
          text-align: center;

          a {
            font-size: 80%;
            text-decoration: none;
            color: $white;
            background: $darkOrange;
            border: 1px solid $darkOrange;
            padding: 8px 16px;
            text-transform: uppercase;
            transition: 0.25s ease all;
          }

          a.delete {
            background: none;
            color: $darkOrange;
          }

          a:hover {
            background: $green;
            color: $white;
            border: 1px solid $green;
          }

          a.delete:hover {
            color: $white;
          }
        }
      }
    }
  }
}

/*---------------- Empty line -----------------------*/
div.empty {
  display: block;
  height: 72px;
  width: 100%;
}

/*---------------- Footer ---------------------*/
footer.administrator {
  background: $darkGrey;
  font-family: "Segoe UI";
  position: fixed;
  bottom: 0;
  opacity: 0.95;

  .container {
    p {
      color: $white;
      padding: 20px;
      margin: 0;
      text-align: center;
    }
  }
}

/*-------------------- For rotated iPhone 4s -------------*/

@media (min-width: $iPhone4Rotated) {
  /*----------------- Main page -------------------*/
  section.administrator-actions {
    .container {
      .col {
        width: 310px;

        .tile {
          display: inline-block;
        }
      }
    }
  }
}

/*-------------------- For iPad -------------*/
@media (min-width: $iPad) {
  header.administrator {
    .container {
      width: 525px;

      div.headline,
      div.user {
        display: inline-block;
        vertical-align: bottom;
        width: 49%;
      }

      .headline {
        text-align: left;
      }

      .user {
        padding: 0;
      }

      .action {
        padding: 10px 0 0 !important;
      }

      .user, .action {
        text-align: right;
      }
    }
  }
  /*----------------- Main page -------------------*/
  section.administrator-actions {
    .container {
      padding: 20px 0 40px;

      .block {
        margin: 0 auto;
        width: 525px;
      }

      .col {
        display: inline-block;

        h2 {
          text-align: left;
        }
      }

      .col-2, .col-4 {
        width: 150px;
      }
      .col-1, .col-3 {
        margin-right: 60px;
      }
    }
  }

  /*----------------- Products's list -------------------*/
  section.administrator-products-list {
    .container {
      .products {
        .product {
          padding: 15px;
          width: 95%;
          overflow: hidden;
          margin-bottom: 15px;
          position: relative;

          img {
            display: block;
            float: left;
            width: 150px;
          }

          .description {
            margin-left: 160px;
            margin-bottom: 45px;
          }

          .product-actions {
            position: absolute;
            right: 20px;
            bottom: 20px;
          }
        }
      }
    }
  }
}

/*-------------------- For rotated iPad -------------*/

@media (min-width: $iPadRotated) {

  header.administrator {
    .container {
      width: 1050px;

      div.headline,
      div.user {
        vertical-align: middle;
      }
    }
  }

  section.administrator-actions {
    .container {
      text-align: center;

      .block {
        display: inline-block;
      }

      .alone {
        text-align: left;

        .col {
          margin-left: 60px;
        }
      }

      .col {
        display: inline-block;
        vertical-align: top;
      }

      .col-3 {
        width: 150px;
        margin-left: 50px;
      }
    }
  }
}

/*-------------------- Mutual styles -------------------------*/
/*-------------------- Buttons --------------------------------*/
.button {
  border: 1px solid $darkOrange;
  padding: 8px 16px;
  text-decoration: none;
  outline: none;
  font-size: 90%;
  transition: 0.25s ease all;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $green;
    background: $green;
    color: $white;
  }
}

.transparent-button {
  color: $darkOrange;
  background: none;
}

.orange-button {
  color: $white;
  background-color: $darkOrange;
}

/*------------------------ Form block --------------------------------*/
.form-block {
  background: #eee;
  padding: 10px;
  width: calc(100% - 20px);
  margin: 0 auto 20px;

  h3 {
    margin: 0 0 20px;
    color: #333;
  }

  .inputs {
    height: 35px;
    padding: 2px 4px;
    font-size: 90%;
    font-color: #444;
    display: inline-block;
    max-width: 100%;
  }

  p {
    margin: 5px 0 10px;
  }

  p:last-child {
    margin-bottom: 0;
  }

}

.details-block {
  max-width: 500px;

  img {
    display: block;
    width: 150px;
    margin: 0 auto;
  }

  input, select, textarea {
    width: 100%;
  }

  textarea {
    height: 250px;
  }

  textarea.short {
    height: 100px;
  }

  input[type="checkbox"] {
    width: auto;
  }
}

.inline-form {
  max-width: 100%;
}

.login-form {
  text-align: center;

  .form-block {
    display: inline-block;
    max-width: 500px;

    input {
      width: 100%;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 450px) {
  .form-block {
    .cols-2 {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    .cols-2:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 700px) {
  .form-block {
    .cols-3 {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    .cols-3:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 700px) {
  .form-block {
    .cols-3 {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    .cols-3:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 760px) {
  .form-block {
    .cols-4 {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    .cols-4:last-child {
      margin-bottom: 0;
    }
  }
}

/*----------------------- Page headline ----------------------------*/
.page-headline {
  h1,h2,h3 {
    text-align: center;
    color: #333333;
  }
}

/*------------------------ Striped table ------------------------------------------*/
.striped-table {
  width: calc(100% - 20px);
  margin: 0 auto 20px;
  overflow-x: auto;

  table {
    width: 100%;

    tr {
      height: 44px;

      .btn-group {
        min-width: 270px;
      }

      td, th {
        padding: 0px 10px;
        overflow: hidden;
      }

      td.right-align {
        text-align: right;
      }

      td {
        color: #444;
        padding-top: 4px;
        padding-bottom: 4px;

        img {
          height: 42px;
          width: auto;
        }
      }

      td.nesting-1 {
        padding-left: 40px;
      }
      td.nesting-2 {
        padding-left: 80px;
      }
      td.nesting-3 {
        padding-left: 160px;
      }
      td.nesting-4 {
        padding-left: 320px;
      }
      td.nesting-5 {
        padding-left: 640px;
      }
    }

    tr.row-0 {
      background: #fafafa;
    }

    tr.row-1 {
      background: #eee;
    }

    tr.top-row {
      color: $white;
      background: #444;

      th {
        text-align: left;
      }
    }

    tr.new {
      background:	#B3EE3A;
      border-bottom: 1px dotted #444;
    }

    tr.total {
      background:	#FFA500;

      td {
        color: $white;
        font-weight: bold;
      }
    }
  }
}

/*---------------------- Top navigation ---------------------------*/
.button-bar {
  padding: 20px 0;
  text-align: center;
  background: #fafafa;
}

/*------------------------- Pages navigation -------------------------*/
nav.pages-navigation {
  ul {
    text-align: center;
    padding: 0;
    li {
      display: inline-block;
      list-style: none;
      padding: 5px;
      margin: 0px;

      a {
        color: #444;
      }
    }
  }
}

/*-------------------------- Main site --------------------------------*/
li.nesting-1 {
  padding-left: 20px;
}
li.nesting-2 {
  padding-left: 40px;
}
li.nesting-3 {
  padding-left: 60px;
}
li.nesting-4 {
  padding-left: 80px;
}
li.nesting-5 {
  padding-left: 100px;
}
