<section class="row">
    <div class="container">
        <div class="page-headline">
            <h2>Список клиентов</h2>
        </div>
        <table class="striped-table" rules="none">
            <tr class="top-row">
                <th>ID Клиента</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Номер телефона</th>
                <th>&nbsp;</th>
            </tr>

            <?php
                $k = 0;

                foreach($data['customers'] as $customer) {

                    $class = $k % 2;
                    $k++;

                    ?>

            <tr class="row-<?php echo $class ?>">
                <td><?php echo $customer['client_id'] ?></td>
                <td><?php echo $customer['name'] ?></td>
                <td><?php echo $customer['surname'] ?></td>
                <td><?php echo $customer['email'] ?></td>
                <td><?php echo $customer['phone'] ?></td>
                <td class="right-align">
                    <a class="button orange-button" href="/administrator/customers/view/<?php echo $customer['client_id'] ?>">Подробнее</a>
                    <a class="button transparent-button" onclick="return confirmDeleteCustomer()" href="/administrator/customers/index/delete/<?php echo $customer['client_id'] ?>" class="delete-button">Удалить</a>
                </td>

            </tr>

            <?php

                }
            ?>

        </table>
        <!-- ============= NAVIGATION ================ -->
        <div class="page-headline">
            <h2>Страницы</h2>
        </div>
        <nav class="pages-navigation">
            <ul>

                <?php

                for($i = 1; $i <= $data['pages_required']; $i++) {

                ?>

                <li><a href="/administrator/customers/index/page/<?= $i ?>"><?= $i ?></a></li>

                <?php

                }

                ?>

            </ul>
        </nav>
    </div>
</section>